### Ada-Boost Algorithm

<font color = blue> Ada boost is an ensemble learning method , in this method multiple method combine together to make a master model,Ada boost takes training data - Creates  model on that training data -  Whatever the records are miss classified or whatever the records are far from the correct analysis / observation / prediction those factors will be given more weightage in the next iteration.</font>

<font color = blue> Model 1 is created using the training data & the learning from the model 1 goes as an input to the new training data ( changing the weight of the miss classified records  & the model 2 is created using this new data similari;ty model 2 is created from the learning of the model 2 ) This is how da-boost works.</font>

In [53]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [54]:
df = pd.read_csv('income.csv')
df.head(10)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
5,37,284582,14,0,0,40,0
6,49,160187,5,0,0,16,0
7,52,209642,9,0,0,45,1
8,31,45781,14,14084,0,50,1
9,42,159449,13,5178,0,40,1

if a person is having income greater than 50k ( income level is 0)
if a person is having income smaller than 50k ( income evel is 1 )

In [55]:
df.shape

(48842, 7)

In [56]:
df.isna().sum()

age               0
fnlwgt            0
education_num     0
capital_gain      0
capital_loss      0
hours_per_week    0
income_level      0
dtype: int64

In [57]:
# independent variables & dependent variables
x = df.iloc[:,0:-1]
y = df.iloc[:,6]

In [58]:
x

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

[48842 rows x 6 columns]

In [59]:
# split data set for training data & testing data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [60]:
x_test.shape

(9769, 6)

In [61]:
x_train.shape

(39073, 6)

### Model Training & evaluation

In [62]:
#  n_estimators here means that how many individual models do i want to train in my final model? sp i said train 100 individual models in my previous explaination in the start we did for 3 models 
#  n_estimators= no. of weak learners to train itertatiely 
#  learningrate is the weights of weak learners, it uses 1 as default value

In [63]:
AdaModel = AdaBoostClassifier(n_estimators =300, learning_rate =1)

In [64]:
# train ada boost classifier
model = AdaModel.fit(x_train, y_train)

# predict the response for the dataset 
y_pred = model.predict(x_test)

In [65]:
y_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [66]:
# preditct the accuracy how is the model correct
print('Accuracy:', metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8444057733647251

#### Let's see few more important aspects of AdBoost

In [68]:
from sklearn.linear_model import LogisticRegression

myLogModel  = LogisticRegression()

# create Adaboost classifier object
# This part gives instruction to Adaboost that do not use the decision tree which is your default model i want u to use logistic regression model as your weak learner 
Ac  = AdaBoostClassifier(n_estimators = 100, base_estimator = myLogModel, learning_rate= 1)

In [69]:
# Train Adaboost classifier 
model2 = Ac.fit(x_train, y_train)

# predict the response of adaboost 2
y_pred2 = model2.predict(x_test)

In [72]:
# accuracy_score
print('Accuracy is :', metrics.accuracy_score(y_test, y_pred2))

Accuracy is : 0.7991606100931518

My accuracy dropped sadly, but this doesn't mean that i won't use different estimators for some cases using different classifiers provies better accuracy.

#### Pros :

<font color = blue>pros are : 
1. It's easy to implement
2. It iteratively corrects the mistakes of the weak classifiers & improves accuracy by combining weak learners.
3. Adaboost is not prone to overfit
4. we can use many base classifiers to improve accuracy.</font>

#### cons:
It's senstivie to noise and outliers that means
If there is an outlier in the data adaboost correctly tries to classify it, sometimes the performance may go down this results in decrease of the accuracy