In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\divit\Desktop\\Linear Regression ( Program + Use case )\\50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

> Our Aim in this dataset is to take all the values from 	R&D Spend	Administration	Marketing Spend	State i should we able to predict what is the value

> by looking at the dataset we can predict out independent & dependent features
independent features : 	R&D Spend	Administration	Marketing Spend	State
Dependent featres : Profit

In [3]:
x = df.iloc[:,:-1]  # independent features
y = df.iloc[:,-1] # dependent features (or) [:,4]

In [4]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [5]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

> As we all now machine learning algorithmswe've to try sorting out some columns that have some unique catgories to go with, so the state column have 3 unique categories [ New york, california, Florida ], so we will apply one hot encoding but lets us 1st understand all the encoding techniques:

Label Encoding
Label Encoding is a popular encoding technique for handling categorical variables. In this technique, each label is assigned a unique integer based on alphabetical ordering.

In [6]:
# understanding Label encoding with the code
#importing the libraries
import pandas as pd
import numpy as np

#reading the dataset
data=pd.read_csv('C:\\Users\\divit\Desktop\\Linear Regression ( Program + Use case )\\Salary_Data.csv')
data.head()

        Name  Salary Country
0        Dan   40000     USA
1  Elizabeth   32000  Brazil
2        Jon   45000   Italy
3      Maria   54000     USA
4       Mark   72000     USA

In [7]:
# Import label encoder 
from sklearn import preprocessing

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'Country'. 
data['Country']= label_encoder.fit_transform(data['Country']) 
data.head()

        Name  Salary  Country
0        Dan   40000        2
1  Elizabeth   32000        0
2        Jon   45000        1
3      Maria   54000        2
4       Mark   72000        2

>In the above scenario, the Country names do not have an order or rank. But, when label encoding is performed, the country names are ranked based on the alphabets. Due to this, there is a very high probability that the model captures the relationship between countries such as India < Japan < the US.
This is something that we do not want! So how can we overcome this obstacle? Here comes the concept of One-Hot Encoding.

One Hot Encoding 
One-Hot Encoding is another popular technique for treating categorical variables. It simply creates additional features based on the number of unique values in the categorical feature. Every unique value in the category will be added as a feature.
But that also isn't accurate to do so because One-Hot Encoding results in a Dummy Variable Trap as the outcome of one variable can easily be predicted with the help of the remaining variables.Dummy Variable Trap is a scenario in which variables are highly correlated to each other.
The Dummy Variable Trap leads to the problem known as multicollinearity.

CONTINUING the coding part

# IMP 

> after using the get dummies out new york, california, florida will become a column of each s
> so whenever the value is of new york it will become 1 california = 0 florida = 0
> whenever value if of california newyork = 0, california = 1, florida = 0
> value of newyork = 0, california = 0, florida = 1
representing them in columns
 N  C  F
 1  0  0
 0  1  0
 0  0  1
> drop_first - when our categorical features are converted to a new column we will we will drop one of the column so that we dont fall into a dummy variable trap 

>drop_first=True is important to use, as it helps in reducing the extra column created during dummy variable creation. Hence it reduces the correlations created among dummy variables.
Let’s say we have 3 types of values in Categorical column and we want to create dummy variable for that column. If one variable is not furnished and semi_furnished, then It is obvious unfurnished. So we do not need 3rd variable to identify the unfurnished.

In [8]:
states = pd.get_dummies(x['State'],drop_first = True)
states.head()

# index , florida, newyork

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

> Now as we converted the state column to one hot encoding using dummies i no longer require state column from independent feature ( x )

In [9]:
# axis = 1 ( is to mention that the operation is done of the header )
x = x.drop('State', axis = 1)
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [10]:
# now we will add the dummy variables to the independent feature (x ) data frame
x = pd.concat([x,states], axis = 1)

In [11]:
# hehe i hope y'all understood it      
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

So now there are 5 columns so that means there are 5 slopes ( m1, m2, m3, m4 , m5 )
y = m1x1 + m2x2 + m3x3 + m4x4 + m5x5

In [12]:
# splitting the dataset from training test & testing set 

from sklearn.model_selection import train_test_split 
x_train , x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 0)

In [13]:
# fitting multiple regression to the training set .

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

# predicting the test results
y_pred = regressor.predict(x_test)

 using r square ( our value is supposed to be b/w 0-1 ) if our value comes near 1 then out multi 
linear regression model is a good model

In [14]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)
score

0.9347068473282423

This shows that our model is fantastic

In [19]:
score1 = regressor.score(x_test, y_test)
score1

0.9347068473282423